<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Builders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="{% static 'fonts/linearicons/style.css' %}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div style="width:100%;height:25px;text-align: right;border-color: blueviolet;background:#accffe;padding-right:20px;padding-top:5px;">
    <br/>    
			<!--<a href="/vproject1?id={{flist.pid}}"> <img src="{% static 'images/image-7.png' %}" width="100px" height="100px" style="position:absolute;left: -10px;top:-17px;"></a>-->
			<a href="/userhome/" style="background-color: #e05e8a;color: white;padding:10px;">Home</a> 
          
         
            <a href="/login/" style="background-color: #e05e8a;color: white;padding:10px;">Logout</a> </div>
           
    <div class="wrapper">
       
        <div class="inner">
       <form>
			<h3>Flat Details</h3>
            <div style="width:100%;background-color:#DD8C91;">
           <table border="1" style="border-collapse: collapse;width:100%;color: black;border:2px solid black;">
              
               {% for i in flist %}
               <tr><td>
               <table>
               <tr>
                <th>Category</th> <td>{{i.cat}}</td></tr>
                <tr><th>Bedrooms</th> <td>{{i.bed}}</td></tr>
                <tr><th>Bathrooms</th> <td>{{i.bath}}</td></tr>
				<tr><th>Floor Number</th> <td>{{i.fn}}</td></tr>
                <tr><th>Total Sq.ft</th> <td>{{i.tsq}}</td></tr>
                <tr><th>Living Room Sq.ft</th><td>{{i.lsq}}</td></tr>
				<tr><th>Rate per Sq.ft</th><td>{{i.rsq}}</td></tr>
            </table></td></tr>
               {% endfor%}
           </table>
        </div>
    </form>
            <img src="{% static 'images/image-4.png' %}" alt="" style="position: absolute;bottom:0px;right: -350px;">
        </div>

    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>


